<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inicio</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('conocenos') }}">Conócenos</a>
                </li>

                <li>
                    <a href="{{ path('contacto') }}">Contacto</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- Page Content -->
<div class="container" id="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>¿Tu también estás que lo tiras?</h1>
        <h4> En Estoyquelotiro no queremos que pierdas la oportunidad de vender el billete de tren que se te ha quedado colgado por anular tu viaje de fin de semana, ni que dejes de ir al concierto en el que estarán todos tus amigos.<br><br>
            <b>Compra-Venta de entradas de eventos-tickets-viajes</b></h4>
        <p><a class="btn btn-primary btn-large" id="botoneventos">Sube tu evento</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12" id="espaciomodal">
            <h3>Entradas de Última hora</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        {% for event in events %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail oferta" id="oferta1">
                    <img src="
                {% if evento.tipo=="ticket tren" %}{{ asset('img/tike2.png') }}{% endif %}
                {% if evento.tipo=="entrada concierto" %}{{ asset('img/tike5.jpg') }}{% endif %}
                {% if evento.tipo=="entrada de teatro" %}{{ asset('img/tike1.png') }}{% endif %}
                {% if evento.tipo=="otro" %}{{ asset('img/tike3.png') }}{% endif %}

                " alt="">
                    <div class="caption">
                        <h3>{{ event.titulo }}</h3>
                        <p>{{ event.localizacion}} {{ event.fechafin|date('d/m/y') }} </p>
                        <p>{{ event.fechafin|date('h:i') }} Horas</p>
                        <p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G3KN8W4A3WB7J">
                            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
                            <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        <p id="reloj{{ loop.index }}" class="reloj" data-pricemin="{{ event.preciominimo }}" data-price="{{ event.precioinicial }}" data-discount="2" data-interval="01/01/1971 01:00" data-start="{{ event.createdat|date('m/d/y H:i:s') }}" data-end="{{ event.fechafin|date('m/d/y H:i:s') }}"></p>
                        <p>precio inicial {{ event.precioinicial }}€</p>
                        <p>precio minimo {{ event.precioinicial }}</p>
                        <p>descuento de 2€ cada hora</p>
                        <p class="currentPrice"></p>
                        <p class="reloj{{ loop.index }}"></p>

                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}




    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy;2014 EstoyQueLoTiro</p>
            </div>
        </div>
    </footer>

</div>
<!-- START Modal definition -->
<div id="howToModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel"> Introduzca sus datos</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="correo.php">
                    <span>Cuenta de twitter&nbsp;&nbsp;&nbsp; </span><input type="text" required name="cuenta"><br><br>
                    <span>E-mail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="email"  required name="correo"><br><br>
                    <input id="price" name="price">
                    <input id="success" type="submit" class="btn btn-success" >
                </form>
            </div>
            <div class="modal-footer">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="modalevento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel"> Introduzca los datos del evento</h4>
            </div>
            <div class="modal-body">
                {{ form(form) }}
            </div>
            <div class="modal-footer">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- END Modal definition -->
<!-- /.container -->
<!-- jQuery -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/reloj.js') }}"></script>
<script src="{{ asset('js/precios.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<script language='JavaScript'>
    setInterval(function(){
        for(var i=1 ;i<=$('.reloj').size(); i++){
            muestraReloj(i);
        }
    }, 1000);
    $('#success').click(function(){
                $(this).parent().children('#price').val();
            }
    );
    /*$('#pay').click(function()
     {
     price=calculatePrice($(this).parent().children('#reloj'));
     $.ajax({
     url: "{{ path('panel_paypal') }}",
     data:{'amount':20}

     }).done(function(textresponse) {
     $('.jumbotron').html(textresponse);
     });
     });*/

</script>
</body>

</html>
